div {
    text-align: center;
    display: block;
    width: auto;
    align-self: center;
  }

p{
  font-weight: bold;
}

#header{
    color: red;
}

#leaderboardTable{
  border-width: 2px;
  border-color: black;
  border-style: solid;
  border-collapse: collapse; 
}

tr{
  border-top: 1px solid black; 
  border-bottom: 1px solid black;
}

th{
  padding-right: 15px;
}

td{
  padding-right: 15px;
}