
#leaderboardID {
    text-align: center;
    display:flexbox;
    background-color: pink;
    width: var(20px);
  }

#header{
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



body{
  width: var(20px);
  height: var(20px);
  border-radius: 4px;
}

.leaderboard {
  height: calc(var(--tile-size) * 18);
  width: calc(var(--tile-size) * (4 + 1 + 10 + 1 + 4));
  margin: auto;
}

table {

  max-width: 100%;

}


tr:nth-child(odd) {

  background-color: #eee;

}


th {

  background-color: #555;
  color: #fff;

}


th,
td {

  text-align: left;

  padding: 0.5em 1em;
}